#pragma once
#include "Core/Reflection.h"
#include "Core/ReflectionRegister.h"
{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}

namespace MXRender{
namespace Reflection{
    void TypeMetaRegister::metaRegister(){
        {{#sourefile_names}}TypeWrappersRegister::{{sourefile_name_upper_camel_case}}Register();
        {{/sourefile_names}}
    }
}
}